@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Quicksand, ui-sans-serif, system-ui, sans-serif;
  --font-delius: Delius, cursive;

  --darkMode: class;
  --background-image-dark: url('/src/assets/texture/stardust.png');
  --background-image-light: url('/src/assets/texture/so-white.png');
}

@layer utilities {
  .prose a {
    color: #3182ce;
    text-decoration: none;
  }
  .prose a:hover {
    color: #2c5282;
  }
  .bg-theme-img {
    background-image: var(--background-image-light);
  }
  .dark .bg-theme-img {
    background-image: var(--background-image-dark);
  }
}

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
