@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Quicksand, ui-sans-serif, system-ui, sans-serif;
  --font-delius: Delius, cursive;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
