---

---

<footer class="w-full relative bottom-0 ml-2 mb-6 mt-12 text-center">
  <nav aria-label="Legal and privacy information">
    <span class="prose text-sm font-medium">
      <a href="/privacy">Privacy</a>
      <span aria-hidden="true"> & </span>
      <a href="/legal">Legal</a>
    </span>
  </nav>
</footer>
