---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Placeholder</h1>
			<ul class="flex gap-4">
          <li><a href="/legal">Legal</a></li>
          <li><a href="/privacy">Privacy</a></li>
      </ul>
		</main>
		<Footer />
	</body>
</html>
