---
import BaseLayout from "../layouts/baseLayout.astro";
import { getCollection, render } from "astro:content";

const policies = await getCollection("legal");

function formatDate(date?: string) {
  if (!date) return null;
  return new Date(date).toLocaleDateString("en-GB", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}
---

<BaseLayout>
  <div class="container mx-auto px-4 py-8">
    <article class="px-4">
      {policies.length === 0 && <p>No legal policies found.</p>}

      {
        await Promise.all(
          policies.map(async (p) => {
            const { Content } = await render(p);
            return (
              <div class="w-full grid grid-cols-3 col-span-3 col-start-1">
                <div class="w-full col-span-3 col-start-1">
                  <h1 class="text-4xl py-4">{p.data.title}</h1>
                  {p.data.updatedAt && (
                    <span>Last updated: {formatDate(p.data.updatedAt)}</span>
                  )}
                  <div class="mt-4 prose dark:prose-invert max-w-none">
                    <Content />
                  </div>
                </div>
              </div>
            );
          }),
        )
      }
    </article>
  </div>
</BaseLayout>
