---
import { Icon } from "astro-icon/components";
---

<footer class="w-full relative bottom-0 ml-2 mb-2 mt-12 text-center">
  <nav aria-label="Legal and privacy information" class="mt-5">
    <span class="prose text-sm font-medium">
      <a href="/privacy">Privacy</a>
      <span aria-hidden="true"> & </span>
      <a href="/legal">Legal</a>
    </span>
  </nav>
</footer>
