<header>
	<nav class="ml-4 h-16 py-4">
		<div class="container flex justify-between items-center mx-auto">
			<span>
        <a href="/" class="">Garden</a>
      </span>
      <div class="block w-auto text-base mr-4">
        <!-- Social Links -->
        <span>
        social
      </span>
      </div>
		</div>
	</nav>
</header>

