---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <nav class="h-16 py-4" aria-label="Main navigation">
    <div class="max-w-7xl mx-auto grid grid-cols-12">
      <div class="col-start-2 col-span-10 grid grid-cols-12 items-center">
        <ul class="col-span-5 flex space-x-2" role="list">
          <li>
            <a href="/" class="">Garden</a>
          </li>
          <li>Library</li>
          <li>Studio</li>
        </ul>
        <div class="col-span-2 flex justify-center">
          <ThemeToggle />
        </div>
        <div class="col-span-5">
          {/* right side reserved or add items later */}
        </div>
      </div>
    </div>
  </nav>
</header>
