---
import { Icon } from "astro-icon/components";
---

<!-- WIP Just pasting for now-->
<h1 id="social-media-links">Elsewhere</h1>
<nav
  class="mt-2"
  aria-label="Social media links"
  aria-labelledby="social-media-links"
>
  <ul class="flex items-center justify-center space-x-4 text-base" role="list">
    <li>
      <a
        href="https://github.com/constancehermit/MindGarden"
        aria-label="Visit the gardener's GitHub repository"
      >
        <Icon name="simple-icons:github" class="w-4 h-4" aria-hidden="true" />
      </a>
    </li>
    <li>
      <a
        href="https://bsky.app/profile/drawntocode.com"
        aria-label="Visit the gardener's Bluesky profile"
      >
        <Icon name="simple-icons:bluesky" class="w-4 h-4" aria-hidden="true" />
      </a>
    </li>
    <li>
      <a
        href="https://blanketfrog.tumblr.com/"
        aria-label="Visit the gardener's Tumblr blog"
      >
        <Icon name="simple-icons:tumblr" class="w-4 h-4" aria-hidden="true" />
      </a>
    </li>
  </ul>
</nav>
